<div class="search-box">
    <form action="/all-movies" method="GET">
    <input type="search" class="search" name="search" placeholder="Search...">
    <input type="submit" value="&#xf002;">
  </form>
</div>

{{#if movies}}
<ul class="movie-list">
    {{#each movies}}
    {{> movie}}
    {{/each}}
</ul>
{{else}}
<h3>No movies ...</h3>
{{/if}}