<section class="addMovie">
    <h3>Add Movie</h3>

    <form action="/create" method="POST">
        <label for="movieName">Enter movie name:</label>
        <input type="text" name="name" placeholder="Title...">

        <label for="movieDescription">Enter movie description:</label>
        <input type="text" name="description" placeholder="Description...">

        <label for="movieImg">Enter movie image URL:</label>
        <input type="text" name="img" placeholder="Image...">

        <input type="submit" value="Add Movie!">
    </form>

</section>