<section class="details">
    <h3>Movie Title: {{movie.title}}</h3>

    <div class="movieDetails">

        <div class="moviePoster">
            <img src="{{movie.img}}">
        </div>
        <div class="movieInfo">
            <p>{{movie.description}}</p>
            <a href="/edit/{{movie.id}}" class="editBtn">Edit</a>
            <a href="#" class="delBtn">Delete</a>
        </div>

    </div>

</section>