<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>Movies</title>
</head>

<body>
    <div class="container">
        <header class="site-header">
            <nav class="navigation">
                <h1><a class="home" href="/"></a></h1>
                <ul class="user">
                    <li><a href="/catalog">All Movies</a></li>
                    <li><a href="/create">Add Movie</a></li>
                </ul>
            </nav>
        </header>

        <main class="site-main">
            <section class="banner"></section>
        </main>

        <footer class="site-footer">
            <p>Just Learning Express.js and Handlebars</p>
        </footer>

    </div>
</body>

</html>


