<section class="registerForm">
    <h3>Register Form</h3>

    <form action="/register" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <label for="repass">Repeat Password</label>
        <input type="password" name="repass" id="repass" placeholder="Repeat Password">
        <input type="submit" value="Register" />
    </form>
</section>