.addMovie h3 {
    margin: 1em 0;
    text-align: center;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    padding: 0.5em;
}

.addMovie input[type="text"] {
    padding: 0.5em;
    border: 2px solid  rgb(194, 221, 235);
    width: 60em;
}

.addMovie input[type="text"]:focus, 
.addMovie input[type="text"]:hover {
    border: 2px solid  rgb(37, 176, 243);
}

.addMovie input[type="submit"] {
    margin-top: 2em;
    background:  rgb(37, 176, 243);
    border: none;
    cursor: pointer;
    color: #ffffff;
    border: 2px solid  rgb(37, 176, 243);
    width: 15em;
}

.addMovie input[type="submit"]:focus,
.addMovie input[type="submit"]:hover {
    color: #000000;
    background: #ffffff;
    border: 2px solid  rgb(37, 176, 243);
}