.movieDetails {
   display: flex;
   margin: auto;
   width: 60em;
}

.moviePoster {
   display: flex;
   position: relative;
   overflow: hidden;
   flex:0 0 50%;
}

.moviePoster::before {
   display: block;
   padding-top: 150%;
   content: '';
}

.moviePoster img {
   position: absolute;
   width: 100%;
   height: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.movieInfo {
   padding:  0 2em;
   flex: 0 0 50%;
}

.movieInfo p {
   padding-bottom: 1em;
}

.movieInfo a {
   margin-right: 1em;
}

.editBtn {
   color: var(--btn-details-font-color);
   border-radius: 0.5em;
   background: var(--btn-edit-background);
   padding: 0.3em 0.8em;

}

.delBtn {
   color: var(--btn-details-font-color);
   border-radius: 0.5em;
   background: var(--btn-delete-background);
   padding: 0.3em 0.8em;
}

.likeBtn {
   color: var(--btn-details-font-color);
   border-radius: 0.5em;
   background: var(--btn-like-background);
   padding: 0.3em 0.8em;
}

.editBtn::before ,
.delBtn::before,
.likeBtn::before {
   display: inline-block;
   font-family: 'Font Awesome 5 Free';
   font-weight: 900;
   padding-right: 0.5em;
}

.editBtn::before {
   content: '\f044';
}

.delBtn::before {
   content: '\f2ed';
}

.likeBtn::before {
   content: '\f164';
}

.commentSection {
   width: 60em;
   margin: 2em auto;
   background-color: #eef2f5;
   padding: 1em 0;
}

.commentSection .comment {
   box-shadow: 10px 10px 5px #aaaaaa;
   background-color: #fff;
   margin: 2em auto;
   padding: 1.5em;
   width: 80%;
}

.commentSection .author {
   color: #ff0000;
   font-weight: 700;
}

.commentSection .date {
   font-weight: 100;
   font-size: 12px;
   opacity: 0.7;
}