form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    padding: 0.5em;
}

input[type="password"] {
    font-family: caption;
}

input[type="password"]::placeholder {
    font-family: var(--main-font-family);
}

textarea,
input[type="text"],
input[type="password"] {
    padding: 0.5em;
    border: 2px solid  var(--input-border-color);
    width: 20em;
}

textarea,
.addMovie input[type="text"],
.editMovie input[type="text"] {
    width: 60em;
}

textarea:focus,
textarea:hover,
input[type="password"]:focus,
input[type="password"]:hover,
input[type="text"]:focus, 
input[type="text"]:hover {
    border-color: var(--input-border-color-hover);
}

input[type="submit"] {
    width: 10em;
    margin: 1em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1.2em;
    border:  2px solid var(--btn-border-color);
    background:  var(--btn-background-color);
    color: var(--btn-font-color);
    font-family: var(--btn-font-family);
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    cursor: pointer;
    background: var(--btn-background-color-hover);
    border-color: var(--btn-border-color-hover);
    color: var(--btn-font-color-hover);
}

.commentForm {
    margin: 3em auto;
    display: flex;
    width: 60em;
}

.commentForm input,
.commentForm label {
    align-self: start;
}

.commentForm input[type="submit"] {
    margin-left: 0;
}

@media (max-width: 600px) {
    textarea,
    .addMovie input[type="text"],
    .addMovie {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 1000px) {

    textarea,
    .addMovie input[type="text"],
    .addMovie {
        width: 90%;
        margin: auto;
    }
    
}