.loginForm h3,
.registerForm h3,
.editMovie h3,
.addMovie h3 {
    margin: 1em 0;
    text-align: center;
    font-weight: 300;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    padding: 0.5em;
}

.loginForm input[type="password"],
.registerForm input[type="password"] {
    font-family: caption;
}

.loginForm input[type="password"]::placeholder,
.registerForm input[type="password"]::placeholder {
    font-family: 'Noto Sans JP', sans-serif;
}

.loginForm input[type="text"],
.loginForm input[type="password"],
.registerForm input[type="text"],
.registerForm input[type="password"],
.editMovie input[type="text"],
.addMovie input[type="text"] {
    padding: 0.5em;
    border: 2px solid  rgb(194, 221, 235);
    width: 60em;
}

.loginForm input[type="text"],
.loginForm input[type="password"],
.registerForm input[type="text"],
.registerForm input[type="password"] {
    width: 20em;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="text"]:hover,
.registerForm input[type="text"]:focus,
.registerForm input[type="text"]:hover,
.editMovie input[type="text"]:focus,
.editMovie input[type="text"]:hover,
.addMovie input[type="text"]:focus, 
.addMovie input[type="text"]:hover {
    border: 2px solid #ff0000;;
}

.loginForm input[type="submit"],
.registerForm input[type="submit"],
.editMovie input[type="submit"],
.addMovie input[type="submit"] {
    width: 10em;
    margin: 1em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1.2em;
    border:  2px solid rgb(0, 0, 0);
    background:  rgb(0, 0, 0);
    color: #ff0000;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.loginForm input[type="submit"]:focus,
.loginForm input[type="submit"]:hover,
.registerForm input[type="submit"]:focus,
.registerForm input[type="submit"]:hover,
.editMovie input[type="submit"]:focus,
.editMovie input[type="submit"]:hover,
.addMovie input[type="submit"]:focus,
.addMovie input[type="submit"]:hover {
    cursor: pointer;
    background: red;
    border-color: red;
    color: #ffffff;
}