
.banner {
    display: block;
    width: auto;
    position: absolute;
    overflow: hidden;
    top: 60px;
    left: 0;
    bottom: 50px;
    right: 0;
}

.banner::after {
    content: '';
    display: block;
    padding-top: 56.25%;
}

.banner img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
 }